

#main-footer {
  position:fixed;
  bottom: 0;
  width: 100%; 
  background-color: #333;
}

#main-footer h1 {
  text-align: center;
}

#main-footer ul {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  padding-right: 2em;  
}

#main-footer ul li {
  padding-left: 3vh;
}

#main-footer .icons ul{
  list-style-type: none;
  display: flex;
  align-items: center;
}

.social-icon {
  display: block;
  width: 32px;
  height: 32px;
}

