
/* ------------------------------

    Navigation bar style rendering

------------------------------- */

#main-head {
    background-color: #05A457;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    top: 0%;
    height: 0px;
    justify-content: space-between;
    align-items: center;    
    overflow-x: hidden;
}

.main-nav {
    padding: 1%;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.main-nav ul li {
    display: inline-block;
    color: #fff;
    margin: auto;
    text-align: center;
}

.main-nav ul li a{
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color:rgb(251, 251, 251);
}

.main-nav ul li a:hover{
    letter-spacing: 2px;
    transition: ease-out 0.25s;
    background-color: white;
    color: #05A457;
    padding: 5px;
    border-radius: 10px;
}

.main-nav ul li:hover{
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
}

.blur {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 80px;
    border-radius: 10px;
    border: #fff solid 1px;
}


/*Image display*/

.wallpaper img{
    display: block;
    position: absolute;
    width: 80px;
    margin-top: 0%;
}