.signup-form {
    top: 10%;
    display:grid;
    align-items: center;
    align-content: center;
    background-color: white;
    height: 400px;
    position: fixed;
    width: 100%;
    top: 80px;
}

.signup-form input {
    background: none;
    overflow:hidden;
    width: auto;
    height: 4rem;
    text-align: center;
    border: #05A457 solid 2px;
    border-radius: 3px;
}

.signup-form #log {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #05A457;
    transition: 0.2s ease-in-out;
}

.signup-form #su_button{
    border-radius: 10px;
    width: 90px;
    padding: 3px;
    color: white;
    background-color:#05A457;
    border: solid 0px;
    box-shadow: 2px 2px #72d2a4;
    font-size: large;
    font-weight: bold;
}

.signup-form #go_to_login{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
